<template>
  <section>
    <NavigationMenu />
    <ButtonLink />
    <ButtonSubmit />
  </section>
</template>
<script>
import { NavigationMenu } from '../../molecules'
import { ButtonLink, ButtonSubmit } from '../../atoms'
export default {
  components: {
    NavigationMenu,
    ButtonLink,
    ButtonSubmit
  }
}
</script>
