<template>
  <article>
    <div class="card">
      <ContentFeed />
      <h1 class="card__header">
        Header
      </h1>
      <p class="card__description">
        Description
      </p>
    </div>
  </article>
</template>
<script>
import { ContentFeed } from '../../organisms'
export default {
  components: {
    ContentFeed
  }
}
</script>
<style lang="scss" scoped>
@import './_style';
</style>
