<template>
  <Content />
</template>
<script>
import { Content } from '../../components/templates/Content'
import { mapActions } from 'vuex'
export default {
  components: {
    Content
  },
  data() {
    return {}
  },
  computed: {},
  async mounted() {
    await this.findContentList()
  },
  methods: {
    ...mapActions('content', ['findContentList'])
  }
}
</script>
