.plus{
    color: $color-plus;
}
.minus{
    color: $color-minus;
}
.stable{
  color: $color-stable;
}

.period-sticky-top {
  position: sticky;
  top: 49px;
}
.period-remove-sticky-top {
  position: relative;
}

.section-trending {
    position: relative;
    @extend %container-style;
    overflow-x: hidden;
    margin: 34px auto;
    h2 {
      @extend %font-size-l;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $color-normal-text;
    }
    .trending-list {
      width: 110%;
      padding: 10px 0 10px 3px;
      .item {
        width: 100%;
        max-width: 104px;
        // border: 1px solid $color-border;
        //   display: inline;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(217, 217, 217, 0.5);
        background-color: $color-white;
        height: 128px;
        margin-right: 10px;
        .trending-data {
          position: relative;
          padding: 8px;
          line-height: 1;
          height: 100%;
          margin-right: auto;
          margin-left: auto;
          h4 {
            margin: 0;
            @extend %font-size-m;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #444444;
            white-space: nowrap;
            width: 85px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          time {
            @extend %font-size-ss;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #d1d1d1;
          }
          .percent {
            margin-top:30px;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #da1616;
          }
          .plus {
            color: $color-plus;
          }
          .minus {
            color: $color-minus;

          }
          .price {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #444444;
          }
          .order-trending {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 60px;
            font-weight: bold;
            color: #f9f9f9;
            vertical-align: baseline;
            line-height: 0.71;
          }
        }
      }
    }
    .fade {
      top: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      position: absolute;
      z-index: 2;
      width: 60px;
    }
    .text-notfound{
      @extend %font-size-ss;
      text-align: center;
      color: $color-normal-text;
    }
}