%padding-row {
    padding: 0 $padding-size;
}
%container-style {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    @include responsive(phablet){
        max-width: $container-width-phablet;
    }
    @include responsive(tablet){
        max-width: $container-width-tablet;
    }
    @include responsive(desktop){
        max-width: $container-width-desktop;
    }
}
%btn-primary {
    font-family: DBHeaventRez;
    font-size: 18px;
    
    @include multipleResponsive(tablet, desktop) {
        padding: 10px 42px;
    }

    @include multipleResponsive(mobile, phablet) {
        padding: 10px 22px;
    }

    background-color: $color-primary-finno;
    box-shadow: 0 2px 6px 0 rgba(255, 205, 0, 0.5);
    color: $color-normal-text;
    font-weight: bold;
    display: inline-block;
    background-position: center;
    transition: background 0.5s;

    &:hover {
        background: darken($color-primary-finno, 5%)
            radial-gradient(
                circle,
                transparent 1%,
                darken($color-primary-finno, 10%) 1%
            )
        center/15000%;
    }
    
    &:active {
        background-color: darken($color-primary-finno, 10%);
        background-size: 100%;
        transition: background 0s;
    }
    
    &:disabled {
        background-color: $color-secondary;
    }

}

%font-size-sss {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 10px;
    }
    @include responsive(phablet){
        font-size: 10px;
    }
    @include responsive(tablet){
        font-size: 12px;
    }
    @include responsive(desktop){
        font-size: 12px;
    }
}

%font-size-ss {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 12px;
    }
    @include responsive(phablet){
        font-size: 12px;
    }
    @include responsive(tablet){
        font-size: 14px;
    }
    @include responsive(desktop){
        font-size: 14px;
    }
}

%font-size-s {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 14px;
    }
    @include responsive(phablet){
        font-size: 14px;
    }
    @include responsive(tablet){
        font-size: 16px;
    }
    @include responsive(desktop){
        font-size: 16px;
    }
}

%font-size-m {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 16px;
    }
    @include responsive(phablet){
        font-size: 16px;
    }
    @include responsive(tablet){
        font-size: 18px;
    }
    @include responsive(desktop){
        font-size: 18px;
    }
}

%font-size-l {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 18px;
    }
    @include responsive(phablet){
        font-size: 18px;
    }
    @include responsive(tablet){
        font-size: 24px;
    }
    @include responsive(desktop){
        font-size: 24px;
    }
}

%font-size-xl {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 24px;
    }
    @include responsive(phablet){
        font-size: 24px;
    }
    @include responsive(tablet){
        font-size: 32px;
    }
    @include responsive(desktop){
        font-size: 32px;
    }
}

%font-size-xxl {
    font-family: DBHeaventRez;
    @include responsive(mobile){
        font-size: 32px;
    }
    @include responsive(phablet){
        font-size: 32px;
    }
    @include responsive(tablet){
        font-size: 32px;
    }
    @include responsive(desktop){
        font-size: 42px;
    }
}