body {
  font-family: "DBHeaventRez", sans-serif !important;
  margin: 0;
  width: 100%;
}

.error-popup {
  text-align: center;
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 10px;
  line-height: 1;
  vertical-align: middle;
  .error-symbol {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-error;
    animation: breath 1s infinite;
    display: inline-block;
    vertical-align: middle;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.fade-slide-up-enter-active {
  transition: all 0.5s ease;
}
.fade-slide-up-leave-active {
  // transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-slide-up-enter,
.fade-slide-up-leave-to {
  transform: translateX(40px);
  opacity: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
.disable {
  pointer-events: none;
  background-color: $color-secondary !important;
}

@keyframes breath {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Absolute Center Spinner */
.page-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  i {
    font-size: 32px;
    color: #bababa;
  }
}

/* Transparent Overlay */
.page-loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Absolute Center Spinner */
.components-loading {
  position: relative;
  z-index: 1;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: 24px auto;
  i {
    font-size: 32px;
    color: #bababa;
  }
}

/* Transparent Overlay */
.components-loading:before {
  content: "";
  display: block;
  position: relative;

  background-color: #fff;
}

.blinking {
  animation: blinkingText 1s infinite;
}
@keyframes blinkingText {
  0% {
    color: red;
  }
  // 49% {
  //   color: transparent;
  // }
  // 50% {
  //   color: transparent;
  // }
  // 99% {
  //   color: transparent;
  // }
  100% {
    color: red;
  }
}

.blink {
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    // opacity: 1;
    stroke-opacity: 0.8;
  }
  to {
    // opacity: 0;
    stroke-opacity: 0;
  }
}
