@mixin responsive($media) {
  @if $media == mobile {
    @media only screen and (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $media == phablet {
    @media only screen and (device-: $breakpoint-mobile) and (max-device-width: $breakpoint-phablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $breakpoint-phablet) and (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $breakpoint-tablet) {
      @content;
    }
  }
}

@mixin multipleResponsive($medias...) {
  @each $media in $medias {
    @include responsive($media) {
      @content;
    }
  }
}

@mixin manageFooterMedia() {
  @media only screen and (min-device-width: 375px) and (min-device-height: 812px) {
    padding-bottom: 21px !important;
  }
  @media only screen and (min-device-width: 812px) and (min-device-height: 375px) {
    padding-bottom: 21px !important;
  }
}

@mixin manageiPhoneMedia() {
  /* ----------- iPhone 5,6,7,8 ----------- Landscape and Portrait */
  @media only screen and (max-height: 414px) {
    padding: 0px;
  }
  /* ----------- iPhone Plus series ----------- Landscape */
  @media only screen and (min-width: 736px) and (orientation: landscape) {
    padding: 0px;
  }
  /* ----------- iPhone X ----------- Portrait */
  @media only screen and (min-height: 750px) and (orientation: portrait) {
    padding-bottom: 21px;
  }
  /* ----------- iPhone X ----------- Landscape */
  @media only screen and (min-width: 812px) and (orientation: landscape) {
    padding: 0px 44px;
    padding-bottom: 21px;
  }
  /* ----------- iPhone 11 ----------- Portrait */
  @media only screen and (min-height: 767px) and (orientation: portrait) {
    padding-bottom: 21px;
  }
  /* ----------- iPhone 11 ----------- Landscape */
  @media only screen and (min-width: 896px) and (orientation: landscape) {
    padding: 0px 44px;
    padding-bottom: 21px;
  }
  /* ----------- iPad ----------- Landscape */
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    padding: 0px;
    padding-bottom: 21px;
  }
  /* ----------- iPad Pro ----------- Portrait and Landscape */
  @media only screen and (min-width: 1366px) and (orientation: landscape) {
    padding: 0px;
    padding-bottom: 21px;
  }
}

@mixin finCol($col, $sum, $gap: 15px, $align: top, $first: false, $last: false) {
  width: percentage($col/$sum);
  display: inline-block;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);
}

@mixin finRippleBtn($backgroundColor, $borderColor, $fontColor) {
  background-color: $backgroundColor;
  color: $fontColor;
  border: 1px solid $borderColor;
  transition: background 0.8s;
  background-position: center;
  &:hover {
    background: lighten($backgroundColor, 0%) radial-gradient(circle, transparent 1%, lighten($backgroundColor, 20%) 1%)
      center/15000%;
  }
  &:active {
    background-color: darken($backgroundColor, 20%);
    background-size: 100%;
    transition: background 0s;
  }
}
