$color-primary-finno: #ffcd00;

$color-primary: #ffba16;
$color-secondary: #999999;
$color-normal-text: #444444;
$color-secondary-text: #999999;
$color-orange: #f7a501;
$color-inactive: #e6e6e6;
$color-gray-inactive: #6e6e6e;

$color-white: #ffffff;

$color-warning: #ffc107;
$color-error: #f44336;
$color-light-grey: #dddddd;

$color-border: #e4e8ea;
$color-plus: #17c161;
$color-plus-lotto: #18c061;
$color-minus: #da1616;
$color-stable: #999999;
$padding-size: 16px;

// breakpoing config
$breakpoint-mobile: 480px;
$breakpoint-phablet: 768px;
$breakpoint-tablet: 1366px;
$breakpoint-desktop: 1400px;

// container size config
$container-width-mobile: 100%;
$container-width-phablet: 480px;
$container-width-tablet: 768px;
$container-width-desktop: 1000px;

// miniapp variables
$color-light-grey-2: #d1d1d1;
$color-orange-finno: #f7a501;
$color-line-grey: #efefef;

$color-success: #17c161;

$base-orange: #ffba16;
$base-black: #333333;
$base-hover-category: #444545;
$base-category: #666666;
$base-light-grey: #dddddd;
$base-white: #ffffff;
$base-grid-breakpoint: 976px;
$base-grid-tablet: 768px;
$base-grid-mobile: 450px;
$base-background: #f7f7f7;
$base-yellow: #ffcd00;
$light-grey: #e9e9e9;
$finno-orange: #ffba16;
$black: #000000;
$base-red: #e03d3b;
$text-grey: #878787;
$text-grey-light: #a5a5a5;
$highlight-grey: #f1f3f5;
$highlight-grey-lotto: #f1f1f1;
$topic-wrapper-lg-width: 230px;
$topic-wrapper-sm-width: 125px;
$content-lg-width: 100px;
$content-sm-width: 85px;
$grey: #bdbdbd;
$medium-grey: #9c9c9c;
$light-blue: #ebf0fd;

$hard-grey: #606060;
$very-light-grey: #f0f0f0;

$max-width-tablet: 550px;
