<template>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="javascript:;" class="nav__link">Menu1</a>
      </li>
      <li class="nav__item">
        <a href="javascript:;" class="nav__link--active">Menu2</a>
      </li>
    </ul>
  </nav>
</template>
<style lang="scss" scoped>
@import './styles/_NavigationMenu';
</style>
